<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01228409-ErnestoER/blob/main/semana_3/A01228409_ErnestoER_Semana3_Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Semana 3 - Actividad 1**

**Ernesto Enriquez Rubio**

**A01228409**

**Ciencia y analítica de datos**

**Jobish Vallikavungal Devassia**

**04 de Octubre del 2022**

# Parte 1: Fundamentos de bases de datos

**1.	Fundamentos de bases de datos y para ciencia de datos.**

  Una base de datos se define como el conjunto estructura de datos guardados en la memoria de una computadora o en la nube al que se puede acceder de varias maneras. La colección y análisis de datos es una de las formas de personalizar la experiencia del usuario, de forma que se puede crear productos que se adapten a la mayoría. Las bases de datos se pueden clasificar en dos tipos: base de datos relacionales, los datos se organizan y almacenan en tablas que se pueden vincular entre sí mediante alguna relación, la forma de comunicarse e interactuar con las bases de datos relacionales es por medio de SQL; y base de datos no relacionales (NoSQL), las cuales conectan la información almacenada en categorías más que por relaciones.
  
**2.	Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

  El almacenamiento de datos es un sistema para el manejo de datos, cuyo propósito principal es habilitar y apoyar a las actividades de los negocios inteligentes, es decir, aquellos que aplican técnicas avanzadas para el análisis de su campo. Usualmente contienen una gran cantidad de información recolectada a por amplios periodos de tiempo, esto ayuda a centralizar y consolidar la información con el fin de utilizarla para la comprensión y predicción de diferentes situaciones. Para el científico informático William Inmon, hay cuatro características únicas que poseen los almacenes de datos: Orientación a un tema, contiene datos sobre un tema o área funcional en particular; integral, crean consistencia entre tipos de datos provenientes de diferentes fuentes; no volátiles, los datos almacenados son estables y no cambian; y variantes de tiempo, se analiza la variación en los datos a lo largo del tiempo.

# **Parte 2: Selección y limpieza de los Datos en Python**

In [168]:
# Importar librería de pandas para manejo de DataFrames
import pandas as pd
import numpy as np

In [169]:
# Lectura de base de datos
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv', index_col=0)
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [170]:
# Verificar si hay valores perdidos
print(df.isnull().any())
print(df.isna().any())

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Se observa que hay valores perdidos en la mayoria de las columnas (x2-x23, y). Es importante conocer que tipo de valor tienen estas columanas para poder hacer una limpieza adecuada.

*   X1: Amount of the given credit (NT dollar)
*   X2: Gender (1 = male; 2 = female). 
*   X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
*   X4: Marital status (1 = married; 2 = single; 3 = others). 
*   X5: Age (year).

**X6-x11 past monthly payment records (from April to September, 2005)**

**repayment status:** 
* **-1 = pay duly;** 
* **1 = payment delay for one month;** 
* **2 = payment delay for two months;** 
* **8 = payment delay for eight months;**
* **9 = payment delay for nine months and above.**

*   X6: the repayment status in September, 2005; 
*   x11: the repayment status in April, 2005

**X12-X17: Amount of bill statement (NT dollar).**
*   X12: amount of bill statement in September, 2005.
*   X17: amount of bill statement in April, 2005.

**X18-X23: Amount of previous payment (NT dollar).**

*   X18: amount paid in September, 2005
*   X23: mount paid in April, 2005

**Y: representa la salida del modelo donde 1 es aprobada y 0 no aprobada**

In [171]:
# Función para imprimir reducción de valores en el DataFrame
def print_df_reduction(modified_df):
  # Cantidad de datos que contiene el DataFrame
  print('Tamaño de dataframe original: ', df.size)
  print('Tamaño de DataFrame al quitar filas con valores faltantes: ',
      modified_df.size)

  print('Filas removidas: ', (df.size-modified_df.size))
  print('Porcentaje removido: ', 
        (df.size-modified_df.size)/df.size*100)

In [172]:
# Revisar cuantos datos se perderian si se quitan las filas 
# con información faltante
drop_missing_data_rows = df.copy()
drop_missing_data_rows.dropna(inplace = True)
print('Existen valores NA: ', drop_missing_data_rows.isna().values.any())
print('Hay casillas sin valores: ', 
      drop_missing_data_rows.isnull().values.any())
print_df_reduction(drop_missing_data_rows)

Existen valores NA:  False
Hay casillas sin valores:  False
Tamaño de dataframe original:  720000
Tamaño de DataFrame al quitar filas con valores faltantes:  718992
Filas removidas:  1008
Porcentaje removido:  0.13999999999999999

Dado que la base de datos que se esta utilizando cuenta con un gran número de datos, quitar las filas que le falten datos solo representaría reducir el DataFrame en 0.14%, lo cual se podría decir que es insignificativo. Sin embargo, algunas columanas se podrían colocar valores generales, como en el caso de educación, en el cual se puede poner un 4 que representa otro; y estado civil, que podría ser un 3 que representa otro.

In [173]:
filled_df = df.copy()
filled_df['X3'].fillna(value = 4, 
                       inplace = True)
filled_df['X4'].fillna(value = 3, 
                       inplace = True)

Revisamos que columnas tienen mayor cantidad de datos perdidos.

In [174]:
filled_df.isnull().sum()

X1      0
X2      1
X3      0
X4      0
X5      5
X6      3
X7      5
X8      7
X9      9
X10    16
X11    14
X12    11
X13    11
X14    13
X15    15
X16    17
X17    10
X18     8
X19     9
X20     8
X21    11
X22    11
X23     5
Y       3
dtype: int64

No obstante, rellenando las columnas X3 y X4 se logró disminuir la cantidad de datos eliminados, por lo que se puede utilizar promedios para las columnas que tienen relación como serían X6-X11, X12-X17, y X18-X23

In [175]:
# Buscamos la posión en donde se encuentran los datos faltantes
null_values_position = {}
columns = ['X6', 'X7', 'X8', 'X9', 'X10', 'X11']
for column in columns:
  null_values_position[column] = []
  for idx, value in enumerate(filled_df[column].isnull()):
    if value:
      null_values_position[column].append(idx)
print('Indexes de columnas con valores vacios: ', null_values_position)

# Revisamos en que columnas no hay valores para hacer un promedio
indexes_without_vals = []
indexes_with_vals = []
for indexes in null_values_position.values():
  for index in indexes:
    for indexes in null_values_position.values():
      if index not in indexes:
        if index not in indexes_with_vals:
          indexes_with_vals.append(index)
        break
    else:
      if index not in indexes_without_vals:
        indexes_without_vals.append(index)
# Contruimos las listas de los indexes que tienen valores y los que no hay valores
print('Indexes que contienen valores: ', indexes_with_vals)
print('Indexes que no contienen valores en todas las columnas: ',
      indexes_without_vals)

# Para los otros indexes rellanamos los valores con la media debido a que 
# son valores enteros este tipo de columnas
for index in indexes_with_vals:
  values_to_median = []
  for column in columns:
    if index in null_values_position[column]:
      continue
    values_to_median.append(filled_df[column].iloc[index])
  median_value = np.median(values_to_median)
  for column in columns:
    if index in null_values_position[column]:
      #filled_df.loc[index, column] = median_value
      filled_df.replace({filled_df.at[index, column]:median_value},
                        inplace=True)

Indexes de columnas con valores vacios:  {'X6': [6227, 24123, 24365], 'X7': [6227, 24123, 24365, 29832, 29833], 'X8': [6227, 17989, 18003, 24123, 24365, 29832, 29833], 'X9': [160, 6227, 23990, 23991, 23992, 24123, 24365, 29832, 29833], 'X10': [49, 233, 6227, 6268, 6269, 6270, 6382, 6383, 6384, 24123, 24365, 29733, 29734, 29735, 29832, 29833], 'X11': [6227, 6268, 6269, 6270, 6382, 6383, 6384, 24123, 24365, 29733, 29734, 29735, 29832, 29833]}
Indexes que contienen valores:  [29832, 29833, 17989, 18003, 160, 23990, 23991, 23992, 49, 233, 6268, 6269, 6270, 6382, 6383, 6384, 29733, 29734, 29735]
Indexes que no contienen valores en todas las columnas:  [6227, 24123, 24365]

Realizamos lo mismo con las otras columnas, pero en vez de utilizar la mediana se utilizará el promedio debedido a que corresponde a cantidades de dinero

**X12-X17**

In [177]:
# Buscamos la posión en donde se encuentran los datos faltantes
null_values_position = {}
columns = ['X12', 'X13', 'X14', 'X15', 'X16', 'X17']
for column in columns:
  null_values_position[column] = []
  for idx, value in enumerate(filled_df[column].isnull()):
    if value:
      null_values_position[column].append(idx)
print('Indexes de columnas con valores vacios: ', null_values_position)

# Revisamos en que columnas no hay valores para hacer un promedio
indexes_with_vals = []
for indexes in null_values_position.values():
  for index in indexes:
    for indexes in null_values_position.values():
      if index not in indexes:
        if index not in indexes_with_vals:
          indexes_with_vals.append(index)
        break
    else:
      if index not in indexes_without_vals:
        indexes_without_vals.append(index)
# Contruimos las listas de los indexes que tienen valores y los que no hay valores
print('Indexes que contienen valores: ', indexes_with_vals)
print('Indexes que no contienen valores en todas las columnas: ',
      indexes_without_vals)

# Para los otros indexes rellanamos los valores con la media debido a que 
# son valores enteros este tipo de columnas
for index in indexes_with_vals:
  values_to_mean = []
  for column in columns:
    if index in null_values_position[column]:
      continue
    values_to_mean.append(filled_df[column].iloc[index])
  # Sacamos el promedio de los valores que se tienen
  mean_value = np.mean(values_to_mean)
  for column in columns:
    if index in null_values_position[column]:
      try:
        filled_df.replace({filled_df.at[index, column]:mean_value}, 
                          inplace=True)
      except:
        continue

Indexes de columnas con valores vacios:  {'X12': [], 'X13': [], 'X14': [], 'X15': [], 'X16': [], 'X17': []}
Indexes que contienen valores:  []
Indexes que no contienen valores en todas las columnas:  [6227, 24123, 24365]

**X18-X23**

In [178]:
# Buscamos la posión en donde se encuentran los datos faltantes
null_values_position = {}
columns = ['X18', 'X19', 'X20', 'X21', 'X22', 'X23']
for column in columns:
  null_values_position[column] = []
  for idx, value in enumerate(filled_df[column].isnull()):
    if value:
      null_values_position[column].append(idx)
print('Indexes de columnas con valores vacios: ', null_values_position)

# Revisamos en que columnas no hay valores para hacer un promedio
indexes_with_vals = []
for indexes in null_values_position.values():
  for index in indexes:
    for indexes in null_values_position.values():
      if index not in indexes:
        if index not in indexes_with_vals:
          indexes_with_vals.append(index)
        break
    else:
      if index not in indexes_without_vals:
        indexes_without_vals.append(index)
# Contruimos las listas de los indexes que tienen valores y los que no hay valores
print('Indexes que contienen valores: ', indexes_with_vals)
print('Indexes que no contienen valores en todas las columnas: ',
      indexes_without_vals)

# Para los otros indexes rellanamos los valores con la media debido a que 
# son valores enteros este tipo de columnas
for index in indexes_with_vals:
  values_to_mean = []
  for column in columns:
    if index in null_values_position[column]:
      continue
    values_to_mean.append(filled_df[column].iloc[index])
  # Sacamos el promedio de los valores que se tienen
  mean_value = np.mean(values_to_mean)
  for column in columns:
    if index in null_values_position[column]:
      try:
        filled_df.replace({filled_df.at[index, column]:mean_value}, 
                          inplace=True)
      except:
        continue

Indexes de columnas con valores vacios:  {'X18': [], 'X19': [], 'X20': [], 'X21': [], 'X22': [], 'X23': []}
Indexes que contienen valores:  []
Indexes que no contienen valores en todas las columnas:  [6227, 24123, 24365]

In [179]:
# Los que no tienen valores la mejor opción es eliminarlos ya que no aportaran
# nada al entrenamiento
filled_df.drop(indexes_without_vals, axis=0, inplace=True)
print_df_reduction(filled_df)
print(filled_df.loc[29834, 'X7'])

Tamaño de dataframe original:  720000
Tamaño de DataFrame al quitar filas con valores faltantes:  719928
Filas removidas:  72
Porcentaje removido:  0.01
0.75

Por ultimo revisamos si quedan valores con null en nuestro dataset

In [180]:
filled_df[filled_df.isnull().values==True]

Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 24 columns]

Al no haber datos vacios y solo haber eliminado 72 filas de toda el dataset se puede decir que se hizo una buena limpieza de datos.

In [181]:
filled_df.isnull().sum()

X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

# **Parte 3: Preparación de los datos**



1.   ¿Qué datos considero mas importantes? ¿Por qué?
2.   ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?
3.   ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?
4.   ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.
5.   ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

Entendiendo que los datos son para aprobar tarjetas de crédito, se podría decir que el historial crediticio de los sujetos es de suma relevancia, por lo que las columnas que involucran hábitos de pagos serían las primordiales de conservar, en este caso de la columna X6 a la X23. Cabe mencionar que las otras columnas no es que no sean de relevancia, simplemente estos datos pueden pasar en segundo plano, como lo es la edad, el género, escolaridad, etc. 

  Por esto en la limpieza de datos, se tuvo cuidado para eliminar filas, solo se eliminaron los datos que faltaban valores completos de los grupos de hábitos de pago, sin embargo, para los meses en específico que no había datos, se utilizó la mejor operación con referencia al tipo de dato (mediana o promedio).  Para este tipo de base de datos, no fue necesario ordenar los datos, ya que la idea es analizar los valores con referencia a los hábitos de pago en general, no se necesita segmentar antes del procesamiento. 

  El formato de los datos es el correcto, ya que todos los datos estaban en los rangos establecidos por el tipo de columnas; no obstante, se tuvo que controlar y reducir los datos faltantes, a pesar de que no representaban una cantidad significante con el tamaño de la base de datos, se consideró que se podían rescatar para aportar. Es por eso por lo que primero se hizo un promedio de las columnas que tenían relación por cada sujeto, en este caso se agruparon 3 valores principales:  X6 a la X11, X12 a la X17, y X18 a la X23; para el primer grupo se utilizó la media, debido a que se esperaba un tipo entero, mientras que los otros dos grupos se utilizó el promedio porque eran cantidades de dinero. Cabe mencionar que se fueron identificando las columnas que no se tenía ningún valor en cada grupo, por lo que no era posible obtener una cantidad aproximada, por lo que se decidió que para este tipo de casos eliminar esas filas en específico porque no iba a aportar nada en caso de que se requiera utilizar esta base de datos para entrenar un modelo. Ya que al considerarse este tipo de columnas como las más importantes para determinar si un sujeto es buena opción para entregar una tarjeta de crédito o no, estaríamos entrenando valores inválidos que pudieran generar ruido en el modelo. 
  
  Para concluir, se puede resumir esta limpieza de datos en 5 puntos: análisis de datos, interpolar valores perdidos por grupo relacionado, generalizar valores perdidos en características del sujeto, eliminar filas que no posean los datos de los grupos más importantes y revisión de la base de datos final.