In [ ]:
# Print Statement -> \n new line 
print("Hello Python 101")

Hello Python 101

In [ ]:
# Types
# int (1, 2, 3, -1)
# float (1.05, 1.1, 2.006)
# str ("hola mundo")
# bool (True/False)
# type casting (change variable type int(float), int(str), str(float))
int(1.005)

In [ ]:
# Math operations
print(25/6)
print(25//6)
print(25%6)
print(2+30*5)
print(2+(30*5))

4.166666666666667
4
1
152
152

In [ ]:
# Variables
var_name = 10
multiplication_result = 5 * var_name
print(multiplication_result)

50

In [ ]:
# strings
str_1 = "Michael Jackson"
str_1[-1]  #Last char
str_1[:4] #First four chars
str_1[::2] # return every 2 step char
str_1[2:5]
# add a tab into str \t
upper(str_1) # all capital letters
lower(str_1) # lower cases

In [ ]:
# Tuples
tuple_cast = tuple()
tuple_1 = (0, 4, 3)
tuple_2 = (2, 1, 5)
tuple_3 = tuple_1 + tuple_2
len(tuple_3)
print(sorted(tuple_3))
tuple_nest = ([0, 1, 2], (True, False))

# List
list_cast = list()
list_1 = [3, 2, 1]
list_2 = [4, 5, 6]
list_3 = list()
list_3.extend(list_1)
list_3.extend(list_2) # Sum 2 lists
print(list_3)
"A, B, C".split(',') # Create a list from a string, parameter is symbol to split
list_3.append(7) # Add an element
help(list)

[0, 1, 2, 3, 4, 5]
[3, 2, 1, 4, 5, 6]

['A', ' B', ' C']

In [ ]:
# Sets
# duplicate items are not possible
set_cast = set()
set_1 = {'hola', 'mundo'}
'hola' in set_1 # Return True if exist on set otherwise return False
# & all items containing in two sets
# .issubset check if a set is containing in another set
# .union add two sets

In [ ]:
# Dictionary
# {key: value}
dict_cast = dict()
dict_1 = {1: 'hola', 2: 'mundo'}
print(dict_1[1] + ' ' + dict_1[2])
# .values -> get all dict values
# .keys -> get all keys values

hola mundo

In [ ]:
# Condition and branching
# operators >, <, <=, >=, ==, !=, or, and, not in, in Returns True/False
var = 10
if var < 11:
  print(f'{var} es menor a 11')
elif var == 11:
  print(f'{var} es 11')
else:
  print(f'{var} es mayor a 11')

In [ ]:
# Loops
# range (10, 15) -> 10, 11, 12, 13, 14
squares = [1, 1, 1, 1, 1, 2, 3]
# for indx, square in enumerate(squares):
for indx in range(0, len(squares)):  
  squares[indx] = 0

print(squares)

# while
i = 0
list_1 = list()
while(i < 5):
  list_1.append(squares[i])
  i+=1
print(list_1)

[0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]

In [ ]:
# Functions
# def function(a, parameters):
#   return b
def is_cat(animal):
  """ Docstring, function definition
  """
  if animal =='cat':
    return True
  return False

animals = ['dog', 'frog', 'cat', 'bear']
for indx, animal in enumerate(animals):
  if is_cat(animal):
    print(f'{animal} was found in index {indx}')

# Collecting arguments
def artistNames(*names):
  for name in names:
    print(name)

artistNames("Michael Jackson", "Pepe Aguilar", "Criss")

# Global variable, assign outside scope, can be used for any function
# Local variable, can be only used internally of a function.

cat was found in index 2
Michael Jackson
Pepe Aguilar
Criss

In [ ]:
# Object and Classes
class Circle(object):
  def __init__(self, radius, color):
    self.radius=radius
    self.color=color
  # Method class
  def add_radius(self, r):
      self.radius=self.radius+r
  def get_area(self):
    pi=3.1416
    return self.radius*self.radius*pi

class Rectangle(object):
    def __init__(self, heigth, weight, color):
      self.heigth=heigth
      self.weight=weight
      self.color=color
    def get_area(self):
      return self.heigth*self.weight

RedCircle = Circle(10, "red")
BlueRectangle = Rectangle(10, 2, "blue")
print(RedCircle.color)
print(BlueRectangle.color)
print(BlueRectangle.get_area())
print(RedCircle.get_area())

red
blue
20